<ion-header>
  <ion-item (click)="onHome()" slot="end" color="dark">
    <ion-icon name="arrow-round-back"></ion-icon>
    <ion-toolbar color="dark">
      <ion-title>Resturants</ion-title>
    </ion-toolbar>
  </ion-item>
</ion-header>

<ion-content>
  <ion-card color="medium">
    <img src="/assets/olsonss.jpg" />
    <ion-card-header>
      <ion-card-subtitle>VÄRMLAND</ion-card-subtitle>
      <ion-card-title>Bröderna Olsson</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nice resturant in the heart of Karlstad, enjoy top notch food with wines from all over the world!
    </ion-card-content>
  </ion-card>
</ion-content>