<ion-header>
  <ion-toolbar>
    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-item (click)="onSubmit()">
        <img src="/assets/shapes.svg" alt="" />
        <ion-card-header>
          <ion-card-title text-center color="danger">TAX FREE</ion-card-title>
        </ion-card-header>
      </ion-item>
      </ion-card>
      <ion-card class="welcome-card">
          <ion-item (click)="onSubmit()">
              <img src="/assets/shapes.svg" alt="" />
              <ion-card-header>
                <ion-card-title text-center>FOOD</ion-card-title>
              </ion-card-header>
            </ion-item>
        </ion-card>
        <ion-card class="welcome-card">
            <ion-item (click)="onSubmit()">
                <img src="/assets/shapes.svg" alt="" />
                <ion-card-header>
                  <ion-card-title text-center>STORES</ion-card-title>
                </ion-card-header>
              </ion-item>
          </ion-card>
    <!-- <ion-grid>
        <ion-row >
          <ion
            <ion-col class="pane" text-center>
             <ion-label color="dark"><h1>HEJSAN</h1></ion-label>
          </ion-col>
            </ion-item>
        </ion-row>
        <ion-row >
            <ion-col class="pane" text-center>
                <ion-label color="dark"><h1>HEJSAN</h1></ion-label>
             </ion-col>
          </ion-row>
          <ion-row >
              <ion-col class="pane" text-center>
                  <ion-label color="dark"><h1>HEJSAN</h1></ion-label>
               </ion-col>
            </ion-row>
      </ion-grid> -->
</ion-content>
